<app-header backButton="/main/home" title="Términos y Condiciones"></app-header>

<ion-content class="ion-padding">
  <h2>Términos y Condiciones</h2>
  <p>Bienvenido a nuestra aplicación. A continuación, detallamos los términos y condiciones de uso:</p>

  <h3>1. Aceptación de los términos</h3>
  <p>Al utilizar esta aplicación, aceptas cumplir con los términos y condiciones aquí descritos.</p>

  <h3>2. Uso de la información</h3>
  <p>La información proporcionada en esta plataforma es para tu uso personal y no comercial.</p>

  <h3>3. Propiedad intelectual</h3>
  <p>Todos los contenidos y derechos de esta plataforma son propiedad de nuestra empresa, y están protegidos por las leyes de propiedad intelectual.</p>

  <h3>4. Cambios en los términos</h3>
  <p>Nos reservamos el derecho de actualizar los términos y condiciones en cualquier momento.</p>

  <h3>5. Contacto</h3>
  <p>Para cualquier consulta sobre estos términos, puedes contactarnos a través de nuestro sitio web.</p>

  
</ion-content>
