<app-header backButton="/main/home" title="Buscar ruta"></app-header>

<ion-content [fullscreen]="true">

<br><br>
<h1><img src="assets/img/ruta1.jpg" alt="Ups" width="200px" (click)="restaAsientor1()">
   <br> Nombre chofer: María Fernanda Rodríguez <br>
        Vehículo: Toyota Camry <br>
        Asientos disponibles: {{asientosr1}}
</h1>
<br>
<h1><img src="assets/img/ruta2.jpg" alt="Ups" width="200px" (click)="restaAsientor2()">
    <br>    Nombre chofer: Carlos Alberto Sánchez  <br>
            Vehículo: Ford Focus  <br>
            Asientos disponibles: {{asientosr2}}
</h1>
<br>
<h1><img src="assets/img/ruta3.jpg" alt="Ups" width="200px" (click)="restaAsientor3()">
    <br>    Nombre chofer: Elena Isabel Gutiérrez  <br>
            Vehículo: Volkswagen Golf  <br>
            Asientos disponibles: {{asientosr3}}
</h1>
</ion-content>